{% extends 'base.html' %}
{% block content %}
<h2 style="padding-top: 4rem; padding-bottom: 2rem;text-align: center;">Wellcome</h2>

  {% if message %}
  <div class="alert alert-primary" role="alert" style="text-align: center;">
    {{message}}
</div>
  
  {% endif %}
   <form method="POST" style="text-align: center;">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" type="submit">Submit</button>
  </form>
 <small style="text-align: center; padding-top: 2rem;">If you are not registrated user you can register <a href='{% url "singup" %}'>here</a></small>
{% endblock %}