{% extends 'base.html' %}

{% block content %}
<br />
<br />
<br />
 <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic"><img src="{{ info.avatar.url }}" height="70" />  HELLO {{user.username}}</h1>
      <p class="lead mb-0">Your email: {{user.email}}</p>
    </div>
  </div>
  <nav class="navbar" style="background-color: #99ccff;">
    <a class="navbar-brand" href="#" style="color: white;">Jobs with me</a>
  </nav>
   <div class="row mb-2">
   	{% for job in jobs %}
    <div class="col-md-6" style="width: 100%;">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{job.jobtitle}}</h3>
          <p>{{job.date_time}}</p>
          <p class="card-text mb-auto">{{job.jobdescription}}</p>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="{{job.jobimage.url}}"  width="200" height="250" />
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

{% endblock %}