{% extends 'base.html' %}
{% block content %}
<h2 style="text-align: center; padding-top: 4rem; color: #669999">Wellcome to my Website!</h2>
<h4 style="text-align: center; color: #75a3a3;">Sing up and chat with me and keep update with my work</h4>

  <form method="POST" style="text-align: center;">
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    {{form.non_field_errors}}
    <div class="fieldWrapper">
    	<p>Enter desired username:<p>
    	<div class="alert alert-primary" role="alert">
	    	{{form.username.errors}}
		</div>
	    {{form.username}}
	</div>
	<div clas="fieldWrapper">
		<p>Enter your email</p>
		<div class="alert alert-primary" role="alert">
			{{form.email.errors}}
		</div>
    	{{form.email}}
	</div>
	<div class="fieldWrapper">
		<p>Password</p>
		<div class="alert alert-primary" role="alert">
			{{form.password1.errors}}
		</div>
    	{{form.password1}}
	</div>
	<div class="fieldWrapper">
		<p>Confirm password</p>
		<div class="alert alert-primary" role="alert">
			{{form.password2.errors}}
		</div>
    	{{form.password2}}
	</div>
    <button class="btn btn-primary" style="margin-top: 1rem;" type="submit">Submit</button>
  </form>
  {% endblock %}
