{% extends 'base.html' %}
{% block content %}
<h4 style="text-align: center;">Sing up, message me and keep update with my work</h4>

  <form method="POST" style="text-align: center;">
    {% csrf_token %}
    <!-- {{form.as_p}} -->
    {{form.non_field_errors}}
    <div class="fieldWrapper">
    	<p>Enter desired username:<p>
    	{% if form.username.errors %}
    	<div class="alert alert-primary" role="alert">
	    	{{form.username.errors}}
		</div>
		{% endif %}
	    {{form.username}}
	</div>
	<div clas="fieldWrapper">
		<p>Enter your email</p>
		{% if form.email.errors %}
		<div class="alert alert-primary" role="alert">
			{{form.email.errors}}
		</div>
		{% endif %}
    	{{form.email}}
	</div>
	<div class="fieldWrapper">
		<p>Password</p>
		{% if form.password1.errors %}
		<div class="alert alert-primary" role="alert">
			{{form.password1.errors}}
		</div>
		{% endif %}
    	{{form.password1}}
	</div>
	<div class="fieldWrapper">
		<p>Confirm password</p>
		{% if form.password2.errors %}
		<div class="alert alert-primary" role="alert">
			{{form.password2.errors}}
		</div>
		{% endif %}
    	{{form.password2}}
	</div>
    <button class="btn btn-primary" style="margin-top: 1rem;" type="submit">Submit</button>
  </form>
  {% endblock %}
