{% extends 'base.html' %}
{% block content %}
  <div class="about" style="padding-left:90px; padding-right:90px; padding-top: 100px">
    <h2>About</h2>
    <p>Hi, My name is Ivan Miletic, I came from a beautiful country name Serbia. I'm a python programmer with 2+ years of experience.</p>

    <h5>I have experience using:</h5>

<ul style="list-style-type:disc;">
  <li>Django</li>
  <li>Django REST framework</li>
  <li>Flask</li>
  <li>Selenium</li>
  <li>Requests</li>
  <li>bs4</li>
  <li>Scrapy</li>
  <li>pandas</li>
</ul>

<h5>And working with data:</h5>
<ul style="list-style-type:disc;">
  <li>Pandas</li>
  <li>Excel</li>
  <li>Csv</li>
  <li>Json</li>
  <li>Pdf's</li>
  <p>DATABASES</p>
  <li>Postresql</li>
  <li>mysql</li>
</ul>

<h5>Other skills (non python!):</h5>
<ul style="list-style-type:disc;">
  <li>HTML</li>
  <li>CSS</li>
  <li>C</li>
  <li>C++</li>
  <li>C#</li>
</ul>


<p>As you can see some of my previous jobs on my <a href={% url 'home' %}>homepage</a> i have experience building API's using Django or Flask, depending on the API complexity. When working with webapps i usually use postgresql for DB, so i have experience working with postgreSQL and mySQL.

So if you need some program in python, website or webapp, you want to collect some data from some website into excel, csv or some db, or maybe you want to export some data from PDF's, into some other fromat (excel, csv, json). Be free to <a href='mailto:pythonscraper@outlook.com'>contact me</a> and maybe i can help you with that!</p>

<h3>Always smile!</h3>
  </div>
{% endblock %}