{% extends 'base.html' %}
{% block content %}
  <div class="about" style="padding-left: 5%; padding-right: 5%; padding-top: 4rem;">
      <h2 style="padding-bottom: 3%;">About me</h2>

      <p>Hi, My name is Ivan Miletic, I came from a beautiful country name Serbia. I'm a python programmer with 6+ years of experience.
        I started with scraping and manipulating data, and in last 4 years most of my work are as backend developer role.</p>
      <p>Working as a backend developer I have experience on cloud with: <b>Heroku</b>, <b>AWS</b> and <b>DigitalOcean</b>.</p>
      <p>I have most experience with <b>Django and Django Rest Framework</b>, but I also have experience on building small API's using <b>Flask</b>.</p>
      <p>I must say that I'm big fan of TDD (Test Driven Developing) so I follow this approach on my every position. You know what people say: <i>"Only good code is tested code!"</i></p>

<h5>Other skills:</h5>
<ul style="list-style-type:disc;">
    <li>HTML</li>
    <li>CSS - <b>as much as I need for some web content to look nicer</b></li>
    <li>JavaScript - <b>intermediate</b></li>
    <li>Go - <b>Enjoying and currently learning</b></li>
    <li>ReactJS - <b>basic understanding</b></li>
    <li>Java - <b>basic</b></li>
    <li>C - <b>basic</b></li>
    <li>C++ - <b>basic</b></li>
    <li>C# - <b>basic</b></li>
</ul>


<p>As you can see some of my previous jobs on my <a href={% url 'home' %}>homepage</a> i have experience building API's using Django or Flask, depending on the API complexity. When working with webapps i usually use postgresql for DB, so i have experience working with postgreSQL and mySQL.

So if you need some program in python, website or webapp, you want to collect some data from some website into excel, csv or some db, or maybe you want to export some data from PDF's, into some other fromat (excel, csv, json). Be free to <a href='mailto:pythonscraper@outlook.com'>contact me</a> and maybe i can help you with that!</p>

<h3>Always smile!</h3>
  </div>
{% endblock %}
