{% extends 'base.html' %}
{% block content %}

<div class="slika">
  <img src='/media/images/homeimage.jpg'>
  <div class="content">
    <h1>imileticdev.com</h1>
    <p>You need a python developer? You can offer me a job <a href='{% url "offer-job" %}'>here</a>.</p>
  </div>
</div>

{% for job in client_jobs.all %}
<div class="card mb-3" style="text-align: center;margin-top: 20px;">
  <img class="card-img-top" src="{{ job.jobimage.url }}" alt="Card image cap" style="height: 50%rem;width: 50%;display: block;margin-left: auto;margin-right: auto;border: 10px solid black;">
  <div class="card-body">
    <h5 class="card-title"><b>{{job.jobtitle}}</b></h5>
    <p class="card-text">{{job.jobdescription}}</p>
  </div>
</div>
{% endfor %}

{% for job in jobs.all %}
<div class="card mb-3" style="text-align: center;margin-top: 20px;">
  <img class="card-img-top" src="{{ job.image.url }}" alt="Card image cap" style="height: 50%rem;width: 50%;display: block;margin-left: auto;margin-right: auto;border: 10px solid black;">
  <div class="card-body">
    <h5 class="card-title"><b>{{job.jtitle}}</b></h5>
    <p class="card-text">{{job.description}}</p>
  </div>
</div>
{% endfor %}

{% endblock %}